<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>米6用户服务使用

1、总则

1.1 欢迎您使用米6服务！

米6服务是由泉州云衣尚信息技术有限公司（以下合称“云衣尚”）同意按照本协议的规定提供的基于互联网以及移动互联网的米6应用程序的服务。本协议在米6服务使用人（下称&quot;用户&quot;）接受注册时生效。如果用户下载米6或以任何行为实际使用、享受米6服务，即表示用户接受了本协议，并同意受本协议的各项条款的约束。如果用户不同意本协议中的任何内容，用户可以选择不使用及注册本应用。为使用米6提供的一切相关服务， 用户应当阅读并遵守《米6用户服务使用协议》（下称“本协议”），以及云衣尚适时发布的服务操作规则。请用户务必审慎阅读、充分理解各条款内容。 如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。

1.2 本协议是用户与云衣尚之间关于用户下载、安装、注册、登录、使用米6服务所订立的协议。 本协议的内容，包括但不限于以下与本协议及其服务相关的协议、规则、规范以及云衣尚对该相关协议、规则、规范等内容的适时修改，前述内容一经正式发布，即为本协议不可分割的组成部分，与其构成统一整体。 云衣尚可自行决定修改本协议条款并将修改内容发布到云衣尚网站上或仅在应用程序内部发布。用户在修改生效日期后对米6服务的继续使用将被视为用户完全同意接受修改条款的约束。

1.3 用户注册成功后，云衣尚将为用户基于米6服务使用的客观需要而在申请、注册米6服务时，按照注册要求提供的帐号开通米6服务；用户有权在云衣尚为用户开通并同意向用户提供服务的基础上使用米6服务，并自行负责保管该账号。用户在使用米6服务过程中，须对自身使用米6服务的行为，对任何由用户通过米6服务发布、公开的信息，及对由此产生的任何后果承担全部责任。用户提交、发布或显示的信息将可能被其他米6服务用户及第三方服务及网站可见（用户可以通过设置功能自行控制、把握可查阅其信息的帐号类型）。

1.4 为提高用户的米6服务使用感受和满意度，用户同意云衣尚记录基于用户的操作行为并对用户数据进行调查研究和分析，从而进一步优化米6服务。

1.5 米6服务中包括云衣尚开发的各类软件、使用的各类商标及取得的各类外观设计专利，以及他人（包括其他用户）授权云衣尚使用的各类软件、商标及外观设计专利，受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》、《 中华人民共和国反不正当竞争法》和其他相关法律法规的保护 ，云衣尚拥有相应的知识产权。


2、服务内容

2.1 米6服务的具体内容由云衣尚根据实际情况提供，包括但不限于授权用户通过其帐号，使用米6服务设计定制购买个性商品、展示或出售原创设计作品、图片等，云衣尚有权对其提供的服务或产品形态进行升级或其他调整，并将及时更新相关页面告知用户。

2.2 云衣尚仅为用户提供与米6服务相关的技术服务，使用米6服务相关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）所需费用以及使用米6服务过程中产生的网络连接费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均由用户自行承担。


3、服务变更、中断或终止

3.1 鉴于网络服务的特殊性（包括但不限于服务器的稳定性问题、恶意的网络攻击等行为的存在及其他云衣尚无法控制的情形），用户同意云衣尚有权随时中断或终止部分或全部的米6服务（包括收费网络服务）而无须承担任何责任，若发生中断或中止米6服务的情形，云衣尚将尽可能及时通过网页公告、系统通知、私信、短信提醒或其他合理方式通知用户。

3.2 云衣尚需要定期或不定期地对提供米6服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，并将尽可能事先进行通告。如因此类情况而造成服务在合理时间内的中断，云衣尚无需为此承担任何责任。

3.3 当发生下列任意一种情形，云衣尚有权随时中断或终止向用户提供本协议项下的米6服务（包括收费服务）而无需对用户或任何第三方承担任何责任：3.3.1 在需要用户提供真实的个人信息时，用户提供的个人资料不真实； 3.3.2 用户违反了法律法规国家政策或本协议中规定的使用规则。

3.4 用户如果选择了将米6帐号与云衣尚米6合作的第三方帐号进行绑定，用户有权利自行解除绑定关系。当发生以下任意一种情形，用户已经绑定的第三方帐号也有可能被解除绑定，同时云衣尚无需对用户或任何第三方承担任何责任：3.4.1 用户违反了相关法律法规国家政策、本协议或云衣尚不时发布的服务操作规则；3.4.2 用户违反第三方帐户管理协议或其相关规定；3.4.3 其他需要解除绑定的情形。


4、使用规则

4.1 用户注册米6账号时，不得以虚假、冒用的身份信息进行注册；若用户的个人资料有任何变动，用户应及时更新。用户可自行编辑注册信息中的账号名称、头像、简介等，但应遵守国家相关管理规定，不得含有违法和不良信息。云衣尚米6提供部分儿童使用的商品和服务，但我们仅向具有支付能力的成年人销售这些商品和服务。如果您未满18周岁，您只能在父母或监护人的参与下购买使用相关商品和服务。此外您应知悉，本应用程序提供的一切商品和服务与苹果公司无关。

4.2 米6部分服务可能需要用户提供真实的个人信息、版权证明或联系方式。如果用户未及时提供相关的真实信息，用户在米6服务中相应的权利将被禁止，同时用户将自行承担因无法提供相关真实信息造成的所有后果。

4.3 用户应负责维护自己的帐户的保密性，并且，用户同意对在用户的帐户下发生的所有活动承担法律责任。同时，云衣尚将努力建立健全用户信息安全管理制度、落实安全防控技术和措施，并对用户使用米6服务过程中涉及的用户隐私内容加以保护。

4.4 根据国家有关法律法规，云衣尚在此郑重提醒用户注意，用户凡经本服务而发布、上传的文字、照片、图形信息及设计或其他资料，均由该用户承担责任。若用户侵犯他人的著作权、商标权、专利权等知识产权，云衣尚有权依国家法律法规或云衣尚相关服务条款规定，删除该用户特定内容（包括但不限于照片、设计）直至终止该用户对账户的使用。用户通过米6服务公开出售的所有设计作品，须保证相应设计作品的合法性，云衣尚不为此承担任何法律责任。

4.5 用户可以通过米6服务的设置功能，在本服务平台既可公开或隐藏设计作品，也可自行修改或删除设计作品。 凡用户公开的设计作品，本服务平台有权挑选为推荐作品，免费展示给其他用户。同时，在推荐期间，该用户暂无法自行删除作品及更改作品的显示状态。

4.6 用户同意云衣尚在提供米6服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在云衣尚网站的任何页面上投放广告），并且，用户同意接受云衣尚通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。

4.7 如果用户在米6服务中或通过米6服务展示、发表任何内容（包括但不限于文字、图像、照片、视频、设计素材、设计作品），即代表用户知悉、理解并同意授予云衣尚免费的、永久有效的、不可撤销、可转授权并在全球范围内对所发布内容进行使用、转载、修改、改编、出版、翻译、创作衍生性商品的权利及应用于订制商品并出售以及有偿提供给其他用户用于本协议下云衣尚米6提供的相关服务的权利。

4.8 用户对云衣尚前述授权并不改变用户对发布内容依法享有的知识产权，也并不影响用户行使发布内容的合法权利。

4.9 用户在使用米6服务的过程中，应遵纪守法，崇尚社会公德，共同建立和谐、文明、礼貌的网络社交环境。同时，用户的所有行为应当遵循以下原则：4.9.1 不得违反本协议约定；4.9.2 不得违反与网络服务、米6服务有关的网络协议、规定、程序及行业规则；4.9.3 不得违反法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等“七条底线”要求；4.9.4 不得进行任何可能对互联网或移动网正常运转造成不利影响的行为；4.9.5 不得上传、发布、展示或传播任何不实虚假、冒充性的、骚扰性的、中伤性的、攻击性的、辱骂性的、恐吓性的、种族歧视性的、诽谤诋毁、泄露隐私、成人情色、恶意抄袭的或其他任何非法的信息资料；4.9.6 不得以任何方式侵犯其他任何人依法享有的专利权、著作权、商标权等知识产权，或姓名权、名称权、名誉权、荣誉权、肖像权、隐私权等人身权益，或其他任何合法权益；4.9.7 不得以任何形式侵犯云衣尚米6的权利和利益或作出任何不利于云衣尚米6的行为； 4.9.8 不得从事其他任何影响云衣尚米6正常运营、破坏云衣尚米6经营模式或其他有害云衣尚米6生态的行为；4.9.9 不得为其他任何非法目的而使用米6服务。

4.10 针对某些特定的米6服务的使用，云衣尚会通过各种方式（包括但不限于网页公告、系统通知、私信、短信提醒等）对用户作出声明、通知、警示等；这些内容视为本协议的一部分，用户如果使用该等米6服务，则表示用户知悉、同意该等声明、通知、警示的内容。

4.11 云衣尚有权对用户使用米6服务的所有行为及所有信息进行审查、监督及处理，包括但不限于用户信息（账号信息、个人信息等）、发布内容（设计作品、位置、文字、图片、商标、专利、出版物等）、用户行为（设计作品、定制购买T恤、出售设计作品、构建关系、@信息、评论、私信、参与话题、参与活动、营销信息发布、举报投诉等）等范畴。如云衣尚发现或收到第三方举报或投诉用户在使用米6服务时违反本协议第四条使用规则相关规定，云衣尚或其授权的主体有权依据其合理判断做出以下处理：4.11.1 对用户进行通知警告并限期改正；4.11.2 不经通知直接采取一切必要措施以减轻或消除因用户不当行为造成的影响，并将尽可能在处理之后把处理结果向用户告知。上述必要措施包括但不限于更改、屏蔽、断开链接或删除相关内容等，警告违规账号，限制或禁止违规账号部分或全部功能，扣除账号非法所得，暂停、终止、注销用户使用米6服务的权利等。

4.12 用户在使用米6服务的过程中如遇到其它用户上传或发布违法侵权等内容，可直接进行举报，相关人员会尽快核实并进行处理；如涉及姓名权、名称权、名誉权、荣誉权、肖像权、隐私权等人身权益纠纷的处理，根据《最高人民法院关于审理利用信息网络侵害人身权益民事纠纷案件适用法律若干问题的规定》，请参照有关公告所公示的方式进行处理；如果用户认为上述方法无法解决遇到的问题、或用户觉得有必要向司法行政机关寻求帮助的，请尽快向相关机关反馈，云衣尚将依法配合司法机关的调查取证工作。


5、交易规则

5.1 如果用户通过米6服务定制或购买商品、作品，米6网站或应用程序上展示的商品、作品和价格等相关信息仅仅作为要约邀请。当用户的订单确定提交支付成功，才构成云衣尚对用户订单的接受和承诺，云衣尚和用户之间的订购合同才成立。在用户提交订单或完成订单支付后，米6可能向用户发送系统消息、电子邮件或短信确认云衣尚已收到用户的订单，并载明订单的细节。同时，您需要了解，米6网站或应用程序上展示的商品、作品和价格等相关信息，以及您从应用程序内或电子邮箱或手机短信接收到的由云衣尚和米6发送的通知消息、促销及活动资讯均与苹果公司无关。

5.2 米6服务努力使商品或作品信息尽可能准确。但是，米6服务并不保证商品或作品信息以及米6服务的其他内容是准确的、完整的、可靠的、最新的或无误的。如果米6服务提供的商品或作品与米6平台网站或应用程序上的商品、作品描述不一致，用户需要按照米6售后规则或退换货相关条款进行处理。

5.3 在使用米6服务的过程中，无论用户是自己设计定制购买商品，还是通过购买、使用米6其他用户的设计作品最终完成用户的定制购买需求，米6并不保证用户在定制、购买过程中使用的或看到的设计素材、设计作品，因设计素材或设计作品品质、显示设备技术或硬件差异、显示设备使用条件差异、米6对设计素材或设计作品的生产前再处理以及定制类商品生产设备条件限制等因素，与米6最终提供的商品成品呈现效果完全一致。但米6会不断提升技术实力尽一切可能提高设计素材、设计作品，以确保与最终的商品成品呈现效果的一致性，并通过更多合理的方式说明，展示设计素材、设计作品与商品成品最终效果的区别。

5.4 因自行设计定制或通过购买、使用米6其他用户的设计素材或T恤设计作品，在米6e服务中均属于定制购买行为，通过上述行为提交、确定、支付的订单商品，同属于定制类商品。故米6不支持无条件退换货服务，请用户谨慎考虑后再决定是否定制购买。

5.5 云衣尚仅保证米6自身提供的设计素材及设计作品的合法性，云衣尚米6不对任何用户使用、提交、上传、发布的设计素材或设计作品的品质、真实性、准确性、完整性、可靠性或合法性作任何担保及承担任何责任。发布作品时，用户在版权声明中如将作品设定为经授权非原创的作品，米6平台不会提供生产服务并且该作品不会作为出售对象进行交易。用户应对此自行辨认判断并承担使用这些设计素材或设计作品用于设计、定制或购买服务造成的任何后果。

5.6 米6网站或应用程序上展示的价格信息为试行价格，可能会因云衣尚的定价策略、具体的市场动态变化而有所变动，具体价格信息以相关的公告、详情页面或订单确认信息作为参考。米6会尽最大努力确保相关价格信息的准确性，但因某些无法预料、无法控制的因素导致定价或价格信息显示错误，直到用户提交支付订单并经确认发货，米6才能确认该商品的最终销售价格。在此情况下，米6有权根据具体情况决定，在发货前联系并征询用户的意见进行处理，或者先行取消用户的订单并后续通知用户。

5.7 用户可以通过米6服务设计、提交、发布设计作品。用户一旦选择公开自己的设计作品，即代表该用户同意该设计用于出售并提供给其他用户在米6平台或其他云衣尚授权的任何渠道用于商品定制、购买。

5.8 从米62.0版本开始，用户可以在米6发布作品时自定义选择平台提供的商品载体且对每件原创设计作品（不包括经授权非原创的作品）做自定义溢价。自定义溢价等于用户每出售一件含有该原创设计作品的定制商品的单件收益。在设置溢价时，用户可为该作品选择合适的商品载体并对其进行整体溢价；整体溢价价格范围为1-999元的整数。用户溢价范围1-999元为试行范围，日后可能会根据用户需求及市场变动进行调整，具体收益设定范围将会在米6网站及应用程序内进行发布及公告。此规则与苹果公司无关。

5.9 用户可在米6服务平台中“我的收益”板块查看相关收益信息。当含有原创设计的定制商品被购买并且成功完结所有订单流程（付款－制作－发货－验收－确认接收商品），米6将在发货后的7－15天内，在APP“我的收益”对其出售作品的设计用户进行收益提醒。 考虑到网络服务的特殊性（包括但不限于数据传输错误、恶意的网络攻击等行为的存在及其他云衣尚无法控制的情形），米6服务平台中“我的收益”板块显示的相应收益信息仅为参考数据。米6并不承诺它们一定代表实际真实的交易数据，但云衣尚会尽最大努力保证数据的准确性。

5.10 当用户的总收益数额满20元，且在系统后台绑定了有效的银行卡账户，就可以进行申请“收益提现”操作。在处理每个收益提现申请时，云衣尚会再次根据实际米6商品交易信息进行核对，提现的收益额均以云衣尚实际米6商品交易信息为准。如数据有误，云衣尚会通过必要的途径与用户联系。

5.11 绑定提现账户时，请确认用户绑定的银行卡账户信息是完全真实、准确并且有效的。当银行要求提供的姓名、账号等账户信息与用户在米6绑定的提现账户信息不符时，将导致提现失败。米6会将本次提现失败的金额悉数返还至用户的米6收益，并以系统消息或其他必要的途径通知用户。请用户妥善保管好账号并确认收益提现是用户本人操作。如因用户原因导致其账户信息被他人擅自使用或盗用致使用户的收益被他人冒领造成财产损失，或因用户绑定的提现账户信息有误导致提现收益无法追回等一切后果均由用户自行承担，米6均不承担任何法律责任。本条款的所有规则及说明均与苹果公司无关。

5.12 米6平台提供或出售的商品均属于定制类商品。因定制类商品的特殊性，米6无法为用户提供无条件退换货服务。 但对于我们所造成的商品正常使用原因或质量问题，如下：（1）商品款式、尺码、颜色错发（2）外观脏破差（3）图案位移严重误差我们承诺会在用户收到商品的之日起的7天内，为用户提供换货服务。同时米6会尽一切努力为用户带来优质的品牌定制服务及体验。如需了解更多的售后规则，请在使用米6服务过程中留意相关说明、提示，或通过云衣尚米6公布的联系方式与云衣尚米6客服部门联系。


6、米6知识产权

6.1 云衣尚是米6平台的所有权及知识产权权利人。

6.2 云衣尚是米6平台产品的所有权及知识产权权利人。米6平台产品指的是云衣尚、或其关联公司、或其授权主体等通过米6平台为用户提供的包括但不限于信息发布分享、关系链拓展、便捷辅助工具、平台应用程序、公众开放平台等功能、软件、网站、服务等。

6.3 云衣尚是米6平台及米6平台产品中所有信息内容的所有权及知识产权权利人。前述信息内容包括但不限于商标、标识、企业名称和标志、程序代码、界面设计、版面框架、数据资料、账号、文字、图片、图形、设计作品、图表、音频、视频等，但按照法律法规规定应由相关权利人享有权利的内容除外。

6.4 未经云衣尚及相关权利人同意，用户不得对米6平台上述的功能、软件、服务等进行反向工程 （reverse engineer）、反向编译（decompile）或反汇编（disassemble）等。同时，用户不得将上述内容或资料在任何媒体直接或间接发布、播放，或出于播放或发布目的而改写或再发行，或者用于其他任何未经云衣尚书面许可使用的目的。

6.5 在商业上合理努力的前提下，云衣尚不对上述功能、软件、服务及其所包含内容的延误、不准确、错误、遗漏或由此产生的任何损害，以任何形式向用户或任何第三方承担任何责任。

6.6 为更好地维护云衣尚米6运营生态，云衣尚保留在任何时间内以任何方式处置上述由云衣尚享受所有权及知识产权的产品或内容的权利，包括但不限于更新、修订、屏蔽、中断、停止、删除或其他任何法律法规允许的方式。

6.7 用户在使用米6平台和服务的过程中，可能会使用到与云衣尚米6合作的第三方、或由第三方针对米6服务开发的在米6平台运行的功能、软件或服务，据此，用户除遵守本协议相关约定以外，还应遵守第三方相关规定，并尊重第三方权利人对其功能、软件、服务及其所包含内容的相关权利。

6.8 上述任何由第三方提供的功能、软件、服务或内容，云衣尚米6不作任何保证性的、或连带性的承诺或担保，由第三方提供的功能、软件、服务或内容产生的任何纠纷、争议或损害，由用户与第三方自行解决，云衣尚不承担任何责任。


7、隐私保护

7.1 保护用户个人信息是云衣尚的一项基本原则，云衣尚将会采取合理的措施保护用户的隐私和个人信息。未经用户许可云衣尚不会向第三方公开、透露用户个人信息。云衣尚对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。但以下情形除外：7.1.1 已事先获得用户的明确授权；7.1.2 为维护社会公共利益； 7.1.3 学校、科研机构等基于公共利益为学术研究或统计的目的，经自然人用户书面同意，且公开方式不足以识别特定自然人；7.1.4 用户自行在网络上公开的信息或其他已合法公开的个人信息；7.1.5 以合法渠道获取的个人信息；7.1.6 用户侵害云衣尚合法权益，为维护前述合法权益且在必要范围内；7.1.7 根据相关政府主管部门的要求；7.1.8 根据相关法律法规或政策的要求；7.1.9 其他必要情况。

7.2 用户在注册帐号或使用米6服务的过程中，可能需要填写一些必要的信息。若国家法律法规或政策有特殊规定的、以及部分米6特殊服务规定的，用户需要填写真实的身份信息。若用户填写的信息不完整，则无法使用相关服务或在服务使用过程中受到限制。

7.3 为提升米6服务的质量，云衣尚可能会与第三方合作共同向用户提供相关的米6服务，此类合作可能涉及米6用户数据与第三方用户数据的互通。在此情况下，如该第三方同意承担与云衣尚同等的保护用户隐私的责任，用户知晓并同意云衣尚有权将用户的注册资料等提供给该第三方，并与第三方约定用户数据仅为双方合作的米6服务之目的使用；并且，云衣尚将对该等第三方使用用户数据的行为进行监督和管理，尽一切合理的努力运用各种安全技术和程序建立完善的管理制度来保护用户的个人信息，以免遭受未经授权的访问、使用或披露。


8、免责声明

8.1 在使用米6服务的过程中用户应自觉遵守国家法律法规及政策规定，因用户使用米6服务而产生的行为后果由用户自行承担。

8.2 除云衣尚米6注明之服务条款外，我们不对米6平台的运营及包含米6平台产品及服务上的信息、内容、材料、商品、软件、或服务作任何形式的、明示或默示的声明或担保。

8.3 云衣尚米6不对任何用户使用、提交、上传、发布的文字、照片、图形信息及设计或其他资料的品质、真实性、准确性、完整性、可靠性或合法性作任何担保及承担任何责任，其责任概由该用户承担，但米6有权依法停止用户传输及展示任何前述内容并采取相应行动，在必要的情形下，将依服务条款或相关规范性规定，删除特定内容（包括但不限于照片、设计）或以至终止用户对账户的使用。

8.4 用户通过米6服务购买的定制商品或通过米6服务发布、出售的设计作品，如因意外、疏忽、合约毁坏、诽谤、或侵犯知识产权等行为带来的一切后果与损失，云衣尚不承担任何法律责任。

8.5 对于因不可抗力或云衣尚不能控制的原因造成的米6服务中断或其它缺陷，云衣尚不承担任何责任，但云衣尚会尽力减少因此给用户造成的损失。

8.6 用户通过米6服务发布的任何信息，及通过米6服务传递的任何观点不代表云衣尚的立场，云衣尚亦不对其完整性、真实性、准确性或可靠性负责。用户对可能接触到的非法的、非道德的、错误的或存在其他失宜之处的信息，应自行做出判断。凡用户通过米6服务发布、出售、私信、传达、分享或其他方式所传播的信息造成的任何损失或伤害，概与云衣尚无关，应由相关行为主体承担全部责任。

8.7 对于云衣尚米6向用户提供的免费的、赠送的、附赠的各种产品和服务，因产品或服务质量缺陷引发的任何损失，云衣尚无需承担任何责任。云衣尚米6向用户提供的免费的、赠送的、附赠的各种产品和服务，均与苹果公司无关，因产品或服务质量缺陷引发的任何损失，苹果公司无需承担任何责任。

8.8 云衣尚可能会与第三方合作向用户提供产品或服务，并由第三方向用户提供该产品的升级、维护、客服等后续工作，因该第三方对相应产品的质量问题或其本身的原因导致的一切纠纷或用户损失的，用户在此同意将向该第三方直接主张与此有关的一切权利。

8.9 云衣尚和米6提供的一切商品、服务、交易、活动及促销资讯均与苹果公司无关。


9、违约处理

用户同意保障和维护云衣尚及其他第三人的利益，如果用户因违反有关法律、法规或本协议项下的任何条款而给云衣尚或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。


10、通知送达

10.1 本协议项下云衣尚对于用户所有的通知均可通过网页公告、电子邮件、系统通知、米6官方帐号主动联系、私信、手机短信等形式或常规的信件传送方式进行；该等通知于发送之日视为已送达用户。

10.2 用户对于云衣尚的通知应当通过云衣尚对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。

11、法律适用及争议管辖

11.1 本协议签订地为中华人民共和国福建省泉州市石狮市，因本协议发生纠纷，若协商不成，任何一方可向本协议签订地的人民法院起诉。

11.2 本协议的成立、生效、履行、解释及纠纷解决，均应适用中国法律。


12、其他规定

12.1 本协议所有条款的标题仅为阅读方便，本身并无实际含义，不能作为本协议含义解释的依据。

12.2 本协议中的任何条款无论因何种原因部分无效或不可执行，其余条款仍有效并对协议双方具有约束力。

12.3 用户使用米6服务即视为用户已阅读并同意受本协议的约束。云衣尚有权在必要时修改本协议条款。用户可以在提供米6服务的应用程序最新版本或相关网站、网页公告中查阅相关协议条款。必要时，云衣尚也可选择通过其他适当方式向用户告知修改内容。本协议条款变更后，如果用户继续使用米6服务，即视为用户已接受修改后的协议。如果用户不接受修改后的协议，应当停止使用米6服务。

12.4 用户注册米6行为即视为用户与云衣尚签订本协议。用户注册日为本协议生效日。
</string>
	<string>定制作品

点击底部导航栏的“个性定制”按钮

 


选择一款定制的品类

 


选择想要定制的素材系列后，进入定制面板。面板底部为定制时所需要的工具，工具栏可向右滑动：

 


1、点击“款式”按钮，可选择衣服样式

 


2、点击“素材”按钮，可拍照、从相册上传图片，或者可以从平台的素材库中直接选择图片。

 

选择图片后，可对图片进行缩放、旋转、萌板、复制、删除、上层（移动到上层），下层（移动到下层）等操作。

 


3. 点击“画板”按钮，可以手绘图案添加，画板提供三种笔型，可添加涂鸦画背景，更改画笔颜色和粗细，还提供橡皮擦和全部清空按钮。

 


4、点击“区域”按钮，可选择商品的正面和背面进行编辑。

 


5、点击“文字”按钮，可输入文本内容。输入完成后，可点击该文本内容，进行修改字体、颜色、复制、删除等操作。

 


6、点击“衣色”按钮，可以更换该款式的颜色。

 


7、作品编辑完成后，点击右上角的“完成”按钮，进入作品保存页面

 


保存成功后，可以立即购买或者继续设计其他作品

 


温馨提示：编辑文字或素材时，需要点击编辑面板右上角的“预览”按钮，才能退出当前编辑状态。

 </string>
	<string>优惠券使用规则

1. 兑换码需在优惠券有效期内兑换

2. 优惠券需在有效期内使用

3. 优惠券不能与其他活动叠加使用

4. 最终解释权归米6所有</string>
	<string>如何编辑个人资料

在【个人中心】中点击头像一栏，进入个人资料，可进行头像、昵称、性别等信息的编辑</string>
	<string>物流相关

1、如何查询物流状态？

进入【个人中心】-【订单管理】的待收货列表中，找到要查询的订单查看物流


2、配送时间及范围？

米6将在您完成订单支付后尽快安排发货，配送时间及范围均以快递公司的公示为准


3、未及时到货或没有到货怎么办？

需立即联系客服，我们会尽快帮您与快递公司联系，以便及时送达

但因如下情况造成的配送问题，米6将不承担责任：

a、用户提供错误或不详细的收货人信息

b、货物送达无人签收，由此造成的重复配送所产生的费用及相关后果

c、不可抗力因素，如自然灾害、交通戒严等（由第三方承担）</string>
	<string>退换货问题

1、如何申请退换货
进入【个人中心】-【已完成订单】找到该笔订单，点击“申请售后”，填写详细原因并上传图片，一个订单只提供一次退换货服务


2、什么情况可以退换货？
由于定制商品的特殊性，有质量问题的才能申请退还，非质量问题，不能退换货，退回的产品必须保证包装、吊牌完好，没有污渍和破损且未经使用和洗涤


3、运费可以到付吗？
对不起，米6退换货不支持运费到付，请选择普通快递将商品寄回给我们。如是质量问题，需您垫付运费，经核实后，可以联系客服报销；如非质量问题，寄回运费需自付</string>
	<string>如何取消订单？

a、只有待付款订单才能进行取消操作

b、进入【个人中心】-【订单管理】，找到要取消的待付款订单进行取消操作</string>
	<string>如何查询订单？

进入【个人中心】-【订单管理】，可以查询全部订单，包括待付款、待发货、待收货、已完成、售后、已取消订单</string>
	<string>可使用的支付方式

米6支持支付宝、微信和门店支付三种支付方式</string>
</array>
</plist>
